<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_liaisonsDonnee.Properties.Settings.WPFUserConnectionString"
            connectionString="Data Source=ALEXANDRE-PC;Initial Catalog=WPFUser;User ID=alex123;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>